asgiref==3.7.2
blinker==1.6.2
click==8.1.7
colorama==0.4.6
decouple==0.0.7
dj-database-url==2.1.0
Django>=3.2,<4.0
django-cors-headers
django-crispy-forms
django-extensions
django-filter
djangorestframework
djangorestframework-jsonapi
djongo
dnspython
Flask
future
gunicorn
inflection
iniconfig
itsdangerous
Jinja2
MarkupSafe
mysql
mysql-connector
mysqlclient
packaging
Pillow
pluggy
psycopg2
pymongo
pytest
pytest-django
python-decouple
python-dotenv
pytz
serializers
sqlparse
typing_extensions
tzdata
Werkzeug
